@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+SC:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes:regular&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=datetime-local]::-webkit-calendar-picker-indicator {
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.button, .specialities-filter__lable {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  padding-inline: 13px;
  padding-block: 12px;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.button::after, .specialities-filter__lable::after {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .button:hover, .specialities-filter__lable:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    -webkit-box-shadow: 0 4px 15px 0 #fff;
            box-shadow: 0 4px 15px 0 #fff;
  }
  .button:hover.button--icon::after, .specialities-filter__lable:hover.button--icon::after {
    background-color: #fff;
  }
}

.button--yelow {
  border-color: #f5bd33;
  color: #f5bd33;
}

.button--yelow-bg, .specialities-filter__lable:has(.specialities-filter__checkbox:checked) {
  border-color: #000;
  background-color: #f5bd33;
  border-color: #f5bd33;
  color: #000;
}

.button--icon {
  font-family: "Cormorant SC", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-inline: 12px;
  -webkit-padding-before: 13px;
          padding-block-start: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  border-width: 2px;
  -webkit-box-shadow: 0 4px 15px 0 #f5bd33;
          box-shadow: 0 4px 15px 0 #f5bd33;
}
@media (min-width: 992px) {
  .button--icon::after {
    content: "";
    width: 51px;
    height: 2px;
    border-radius: 5px;
  }
  .button--icon.button--yelow::after {
    background-color: #f5bd33;
  }
  .button--icon.button--yelow-bg::after, .button--icon.specialities-filter__lable:has(.specialities-filter__checkbox:checked)::after {
    background-color: #000;
  }
}

.section-header {
  margin: 0 auto;
  text-align: center;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
}
.section-header__subtitle {
  -webkit-transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
          transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  font-family: "Great Vibes", serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 4.8px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  transition-duration: 0.4s;
}
._animated .section-header__subtitle {
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
          transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}
.section-header--main .section-header__subtitle {
  font-size: 18px;
}
@media (min-width: 962px) {
  .section-header--main .section-header__subtitle {
    font-size: 25px;
  }
}
.section-header__title {
  -webkit-transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
          transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  line-height: 1.375;
  color: #f3d382;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
._animated .section-header__title {
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
          transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}
.section-header__title:not(:last-child) {
  margin-bottom: 20px;
}
.section-header--main .section-header__title {
  font-family: "Cinzel", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.33;
}
.section-header--main .section-header__title::first-letter {
  text-transform: uppercase;
}
.section-header--main .section-header__title:not(:last-child) {
  margin-bottom: 14px;
}
.section-header__title:not(.section-header--main .section-header__title) {
  text-transform: capitalize;
}
@media (min-width: 962px) {
  .section-header__title {
    font-size: 40px;
  }
  .section-header--main .section-header__title {
    font-size: 60px;
  }
}
.section-header__text {
  -webkit-transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
          transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
._animated .section-header__text {
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
          transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
}
.header__container {
  padding-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-perspective-origin: right;
          perspective-origin: right;
}
.header__container::before {
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__container > * {
  position: relative;
  z-index: 5;
}

.logo {
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  .logo {
    width: 82px;
    height: 82px;
  }
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Cormorant SC", serif;
  color: #fff;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: opacity 0.4s ease-in-out, background-color 0.4s ease-in-out, width 0.4s ease-out, -webkit-transform 0.4s cubic-bezier(0, 0.62, 1, 1);
  transition: opacity 0.4s ease-in-out, background-color 0.4s ease-in-out, width 0.4s ease-out, -webkit-transform 0.4s cubic-bezier(0, 0.62, 1, 1);
  transition: transform 0.4s cubic-bezier(0, 0.62, 1, 1), opacity 0.4s ease-in-out, background-color 0.4s ease-in-out, width 0.4s ease-out;
  transition: transform 0.4s cubic-bezier(0, 0.62, 1, 1), opacity 0.4s ease-in-out, background-color 0.4s ease-in-out, width 0.4s ease-out, -webkit-transform 0.4s cubic-bezier(0, 0.62, 1, 1);
  width: 100%;
}
.navigation__list {
  -ms-flex-preferred-size: 750px;
      flex-basis: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px 31px;
}
@media (max-width: 991.98px) {
  .navigation__list {
    color: #f3d382;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 35px;
    row-gap: 30px;
    padding-inline: 40px;
    -webkit-padding-before: 50px;
            padding-block-start: 50px;
    -webkit-padding-after: 30px;
            padding-block-end: 30px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
  }
}
.navigation__link {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    color: #f5bd33;
  }
}
@media (min-width: 767.98px) {
  .navigation {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 767.98px) {
  .navigation {
    -webkit-padding-before: 70px;
            padding-block-start: 70px;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .navigation {
    -webkit-padding-before: 102px;
            padding-block-start: 102px;
  }
}
@media (max-width: 991.98px) {
  .navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: -1;
    height: 100svh;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, -1, 0, -40deg);
            transform: translate3d(0, 0, 0) rotate3d(0, -1, 0, -40deg);
    opacity: 0;
    font-size: 0;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#4c4848), color-stop(#403d3e), color-stop(#343233), color-stop(#282829), to(#1e1e1e));
    background-image: linear-gradient(to left bottom, #4c4848, #403d3e, #343233, #282829, #1e1e1e);
  }
  .navigation._open {
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 0, 0deg);
            transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

.burger-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50px;
  height: 50px;
  padding: 5px;
  -webkit-transition: -webkit-box-pack 0.3s ease-in-out;
  transition: -webkit-box-pack 0.3s ease-in-out;
  transition: justify-content 0.3s ease-in-out;
  transition: justify-content 0.3s ease-in-out, -webkit-box-pack 0.3s ease-in-out, -ms-flex-pack 0.3s ease-in-out;
}
.burger-button::after, .burger-button::before {
  content: "";
}
.burger-button::after, .burger-button::before,
.burger-button span {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #f5bd33;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger-button._active {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.burger-button._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.burger-button._active::before {
  -webkit-transform: translateY(100%) rotate(45deg);
      -ms-transform: translateY(100%) rotate(45deg);
          transform: translateY(100%) rotate(45deg);
}
.burger-button._active::after {
  -webkit-transform: translateY(-100%) rotate(-45deg);
      -ms-transform: translateY(-100%) rotate(-45deg);
          transform: translateY(-100%) rotate(-45deg);
}
@media (min-width: 992px) {
  .burger-button {
    display: none;
  }
}

.hero {
  height: 100svh;
  position: relative;
  overflow-y: auto;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(74.22% 60.15% at 50% 39.85%, rgba(0, 0, 0, 0.6) 0%, rgba(30, 30, 30, 0.8) 47.76%, #1e1e1e 100%);
}
.hero__background-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1400/675;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__container {
  min-height: 100%;
  padding-block: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.hero__section-header {
  max-width: 794px;
}
.hero__section-header .section-header__text {
  max-width: 362px;
}
.hero__section-header:not(:last-child) {
  margin-bottom: 49px;
}
.hero__section-header._animated + .button, .hero__section-header._animated + .specialities-filter__lable {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.hero .button, .hero .specialities-filter__lable {
  -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.menu__container {
  padding-block: 50px;
}
@media (min-width: 992px) {
  .menu__container {
    padding-block: 100px;
  }
}
.menu__header {
  max-width: 440px;
}
.menu__header:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .menu__header:not(:last-child) {
    margin-bottom: 50px;
  }
}
.menu__header + .menu__list > .meal-card {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.menu__header + .menu__list > .meal-card:nth-child(1) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.menu__header + .menu__list > .meal-card:nth-child(2) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
.menu__header + .menu__list > .meal-card:nth-child(3) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.menu__header._animated + .menu__list > .meal-card {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 720px) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu__list .meal-card {
    width: 33.33%;
    min-width: 200px;
  }
}

.meal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2e2e2e;
  -webkit-box-shadow: 0 4px 30px 0 rgba(245, 190, 50, 0.1);
          box-shadow: 0 4px 30px 0 rgba(245, 190, 50, 0.1);
  -webkit-transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .meal-card:hover {
    background-color: #1e1e1e;
    width: 36.66%;
  }
  .meal-card:hover .meal-card__image {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }
  .meal-card:hover .meal-card__content {
    padding-inline: 35px;
  }
}
.meal-card__image-link {
  width: 100%;
  max-height: 293px;
  aspect-ratio: 380/293;
  overflow: hidden;
}
.meal-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 380/293;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.meal-card__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-block: 20px;
  padding-inline: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 10px;
  -webkit-transition: padding-inline 0.3s ease-in-out;
  transition: padding-inline 0.3s ease-in-out;
}
@media (min-width: 991.98px) {
  .meal-card__content {
    padding-block: 40px;
    padding-inline: 30px;
  }
}
.meal-card__title, .event__price, .event__title, .speciality-card__title {
  font-family: "Cinzel", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.36;
  color: #f3d382;
}
@media (min-width: 992px) {
  .meal-card__title, .event__price, .event__title, .speciality-card__title {
    font-size: 25px;
  }
}
.meal-card__title-link, .event__title-link, .speciality-card__title-link {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .meal-card__title-link:hover, .event__title-link:hover, .speciality-card__title-link:hover {
    color: #f5bd33;
  }
}
.meal-card__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.meal-card__rate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-block: 10px;
}
@media (min-width: 992px) {
  .meal-card__rate-list:not(:last-child) {
    margin-bottom: 10px;
  }
}
.meal-card__rate-icon {
  padding: 3px;
  fill: #f5bd33;
  width: 25px;
  height: 25px;
}
@media (min-width: 992px) {
  .meal-card__rate-icon {
    width: 40px;
    height: 40px;
  }
}
.meal-card .button, .meal-card .specialities-filter__lable {
  justify-self: flex-end;
  text-transform: capitalize;
}
@media (max-width: 719.98px) {
  .meal-card .button, .meal-card .specialities-filter__lable {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.luxury-background {
  height: 363px;
}
.luxury-background::after {
  content: "";
  width: 100%;
  height: 100%;
}
.luxury-background.luxury-background--01 {
  background: url("/src/images/luxurybg-01.jpg") center/cover no-repeat fixed;
}
.luxury-background.luxury-background--01::after {
  background: radial-gradient(49.7% 57.5% at 49.94% 50%, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.5) 100%);
}
.luxury-background.luxury-background--02 {
  background: url("/src/images/luxurybg-02.jpg") 50% 25%/cover no-repeat fixed;
}
.luxury-background.luxury-background--02::after {
  background: radial-gradient(65.07% 57.5% at 49.94% 50%, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.5) 100%);
}

.specialities__container {
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
}
@media (min-width: 992px) {
  .specialities__container {
    -webkit-padding-before: 100px;
            padding-block-start: 100px;
  }
}
.specialities__header {
  max-width: 396px;
}
.specialities__header:not(:last-child) {
  margin-bottom: 30px;
}
.specialities__header + .specialities__form {
  -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.specialities__header._animated + .specialities__form {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.specialities__form:not(:last-child) {
  margin-bottom: 50px;
}
.specialities__list > * {
  max-width: 100%;
  min-height: 450px;
}
.specialities__list > *:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.specialities__list > *:nth-child(even) > .speciality-card__image-link::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.specialities-filter {
  grid-auto-flow: dense;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.specialities-filter__lable {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
@media (min-width: 992px) {
  .specialities-filter__lable {
    -ms-flex-preferred-size: 144px;
        flex-basis: 144px;
  }
}
.specialities-filter__checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
}

.speciality-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (min-width: 992px) {
  .speciality-card {
    gap: 50px;
  }
}
.speciality-card__image-link {
  min-height: 100%;
  overflow: hidden;
  background-color: #2e2e2e;
  position: absolute;
}
@media (max-width: 767.98px) {
  .speciality-card__image-link {
    width: 100%;
  }
  .speciality-card__image-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 35, 0.7);
  }
}
@media (min-width: 768px) {
  .speciality-card__image-link {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    min-width: 50%;
  }
}
@media (any-hover: hover) {
  .speciality-card__image-link:hover .speciality-card__image {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }
}
.speciality-card__image {
  width: 101%;
  height: 101%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.speciality-card__content {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  padding-block: 30px;
  max-height: 100%;
}
@media (min-width: 580px) {
  .speciality-card__content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}
@media (min-width: 768px) {
  .speciality-card__content {
    -ms-flex-preferred-size: 39%;
        flex-basis: 39%;
    max-width: 462px;
  }
}
@media (max-width: 767.98px) {
  .speciality-card__content {
    padding-inline: 30px;
  }
}
.speciality-card__title:not(:last-child) {
  margin-bottom: 10px;
}
.speciality-card__price {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #f3d382;
  font-size: 35px;
  line-height: 1.34;
}
.speciality-card__description {
  line-height: 1.3;
}
.speciality-card__description:not(:last-child) {
  margin-bottom: 30px;
}

.dining__container {
  padding-block: 50px;
}
@media (min-width: 992px) {
  .dining__container {
    padding-block: 100px;
  }
}
.dining__header:not(:last-child) {
  margin-bottom: 30px;
}
.dining__header + .dining__actions {
  -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.dining__header._animated + .dining__actions {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.dining__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.dining__actions:not(:last-child) {
  margin-bottom: 50px;
}
.dining__events > *:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.dining__events > *:nth-child(even) .event__image-wrapper {
  left: 0;
}
.dining__events > *:nth-child(even) .event__content::after {
  left: auto;
  right: -1px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (min-width: 768px) {
  .dining__events > *:nth-child(even) .event__content::after {
    right: 95%;
  }
}
.dining__events > *:nth-child(even) .event__info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 380px) {
  .dining__events > *:nth-child(even) .event__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.dining__events > *:nth-child(even) .event__details {
  text-align: end;
}
.dining__events > *:nth-child(even) .event__title {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.event {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .event {
    min-height: 500px;
  }
}
.event__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 893px;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 893/500;
}
.event__image {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event__content {
  min-width: 30.83%; /* 370/1200 */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 30px;
}
.event__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%; /* 400/1200 */
  height: 101%;
  background: -webkit-gradient(linear, right top, left top, color-stop(-10.67%, rgba(30, 30, 30, 0)), color-stop(90.22%, #1e1e1e));
  background: linear-gradient(270deg, rgba(30, 30, 30, 0) -10.67%, #1e1e1e 90.22%);
}
@media (min-width: 768px) {
  .event__content {
    max-width: 50%;
    background-color: #1e1e1e;
  }
  .event__content::after {
    left: 95%;
    background: -webkit-gradient(linear, right top, left top, color-stop(41.67%, rgba(30, 30, 30, 0)), color-stop(95.22%, #1e1e1e));
    background: linear-gradient(270deg, rgba(30, 30, 30, 0) 41.67%, #1e1e1e 95.22%);
  }
}
.event__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  position: relative;
  z-index: 2;
}
@media (max-width: 380px) {
  .event__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.event__price {
  font-size: 45px;
}
.event__title {
  min-height: 2.44em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: 8px;
          padding-block-start: 8px;
}
.event__description {
  font-weight: 500;
  line-height: 1.3;
}

.our-story__container {
  padding-block: 50px;
}
@media (min-width: 992px) {
  .our-story__container {
    padding-block: 100px;
  }
}
.our-story__header {
  max-width: 460px;
}
.our-story__header:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .our-story__header:not(:last-child) {
    margin-bottom: 50px;
  }
}
.our-story__header + .our-story__content-wrapper .our-story__content, .our-story__header + .our-story__content-wrapper .our-story__image-content {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.our-story__header + .our-story__content-wrapper .our-story__content {
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}
.our-story__header + .our-story__content-wrapper .our-story__image-content {
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
}
.our-story__header._animated + .our-story__content-wrapper .our-story__content, .our-story__header._animated + .our-story__content-wrapper .our-story__image-content {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.our-story__content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 20px;
}
@media (min-width: 700px) {
  .our-story__content-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
  .our-story__content-wrapper {
    gap: 50px;
  }
}
.our-story__image-content {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  z-index: 1;
}
@media (min-width: 700px) {
  .our-story__image-content {
    min-width: 40%;
  }
}
@media (min-width: 992px) {
  .our-story__image-content {
    min-width: 57.5%; /* 690/1200 */
    height: 51.08%; /* 613/1200 */
  }
}
.our-story__image-wrapper {
  width: 100%;
  overflow: hidden;
}
.our-story__image-wrapper:first-child {
  grid-row: 2 span;
}
.our-story__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 345/300;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-story__content {
  width: auto;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (min-width: 992px) {
  .our-story__content {
    min-width: 38.33%; /* 460/1200 */
  }
}
.our-story__content-text p:not(:last-child) {
  margin-bottom: 15px;
}
.our-story__content-text:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 700px) {
  .our-story__content-text p:not(:last-child) {
    margin-bottom: 30px;
  }
  .our-story__content-text:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 699.98px) {
  .our-story__link {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  position: relative;
  height: 100svh;
  overflow-y: auto;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
}
.footer__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.footer__background::after {
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(74.22% 60.15% at 50% 39.85%, rgba(0, 0, 0, 0.6) 0%, rgba(30, 30, 30, 0.8) 56.25%, #1e1e1e 86.46%);
  backdrop-filter: blur(3.25px);
  position: absolute;
  top: 0;
  left: 0;
}
.footer__background-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__container {
  min-height: 100%;
  -webkit-padding-before: 100px;
          padding-block-start: 100px;
  -webkit-padding-after: 50px;
          padding-block-end: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}
@media (min-width: 992px) {
  .footer__container {
    -webkit-padding-after: 100px;
            padding-block-end: 100px;
  }
}
.footer__top {
  row-gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__top, .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__header {
  font-family: "Cinzel", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.34;
  color: #f3d382;
  text-align: center;
  max-width: 850px;
  text-wrap: balance;
  -webkit-transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
          transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
._animated .footer__header {
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
          transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}
.footer__header::first-letter {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer__header {
    font-size: 55px;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 20px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.footer__contacts:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .footer__contacts {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts:not(:last-child) {
    margin-bottom: 40px;
  }
}
.footer__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 366px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  line-height: 1.3;
  -webkit-transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
          transform: translate3d(0, 70%, 0) rotate3d(1, 0, 0, -50deg);
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
._animated .footer__contacts-link {
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
          transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}
.footer__contacts-link-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 35px;
  height: 35px;
  fill: #f5bd33;
}
.footer__button.button {
  font-family: "Cormorant SC", serif;
  text-transform: none;
  -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
@media (max-width: 767.98px) {
  .footer__button.button {
    width: 100%;
  }
}
.footer._animated .footer__button {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.footer__bottom {
  row-gap: 30px;
}
.footer__logo .logo {
  width: 72px;
  height: 72px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px 25px;
}
.footer__social-item {
  font-family: "Cormorant SC", serif;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  text-transform: capitalize;
}
.footer__social-item::after {
  content: "";
  width: 79.78%;
  height: 2px;
  background-color: #f5be32;
  display: block;
  margin: 0 auto;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
@media (any-hover: hover) {
  .footer__social-item:has(.footer__social-link:hover)::after {
    width: 30%;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #d9d9d9;
  background-color: hsl(0, 0%, 12%);
}
body:has(.navigation._open) {
  overflow: hidden;
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
body section {
  scroll-margin-top: 70px;
}
@media (min-width: 768px) {
  body section {
    scroll-margin-top: 102px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 1230px;
  padding-inline: 15px;
  margin: 0 auto;
}