<footer class="footer">
    <div class="footer__background">
        <img src="/src/images/footer/finedining-bg.jpg" alt="finedining" class="footer__background-image">
    </div>
    <div class="footer__container">
        <div class="footer__top">
            <h2 class="footer__header">
                We ready to have you <br> the best dining experiences
            </h2>
            <address class="footer__contacts">
                <a href="#" class="footer__contacts-link">
                    <svg class="footer__contacts-link-icon">
                        <use href="/src/images/icons/icons.svg#icon-map-pin"></use>
                    </svg>
                    <span class="footer__contacts-link-content">
                        Jendral Sudirman Street Pahoman Bandar Lampung, Lampung, 35222
                    </span>
                </a>
                <a href="tel:+0721 471 285" class="footer__contacts-link">
                    <svg class="footer__contacts-link-icon">
                        <use href="/src/images/icons/icons.svg#icon-phone"></use>
                    </svg>
                    <span class="footer__contacts-link-content">
                        Call us:<br>+0721 471 285
                    </span>
                </a>
            </address>
            <button class="footer__button button button--yelow-bg">Reserve a Table</button>

        </div>
        <div class="footer__bottom">
            <a href="#" class="footer__logo">
                <img src="/src/images/dmr-logo.png" alt="Dmr sushi logo" class="logo">
            </a>
            <ul class="footer__social">
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link" target="_blank">instagram</a>
                </li>
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link" target="_blank">Twitter</a>
                </li>
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link" target="_blank">Facebook</a>
                </li>
            </ul>
        </div>
    </div>
</footer>