<header class="header">
    <div class="header__container">
        <img src="/src/images/dmr-logo.png" alt="Dmr sushi logo" class="logo">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Menu</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Fine dining</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">About</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Contact</a>
                </li>
            </ul>
        </nav>
        <a href="#" class="button button--yelow button--icon">reservation</a>
        <button type="button" class="burger-button">
            <span></span>
        </button>
    </div>
</header>