@use "variables" as *;
.button {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    padding-inline: 13px;
    padding-block: 12px;
    border: 1px solid #fff;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border-color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    &::after {
        transition: background-color 0.3s ease-in-out;
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: transparent;
            color: #fff;
            border-color: #fff;
            box-shadow: 0 4px 15px 0 #fff;
            &.button--icon::after {
                background-color: #fff;
            }
        }
    }
}
.button--yelow {
    border-color: $accentColor;
    color: $accentColor;
}
.button--yelow-bg {
    border-color: #000;
    background-color: $accentColor;
    color: #000;
}
.button--icon {
    font-family: "Cormorant SC", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-inline: 12px;
    padding-block-start: 13px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    border-width: 2px;
    box-shadow: 0 4px 15px 0 $accentColor;
    @media (min-width: 992px) {
        &::after {
            content: "";
            width: 51px;
            height: 2px;
            border-radius: 5px;
        }
        &.button--yelow::after {
            background-color: $accentColor;
        }
        &.button--yelow-bg::after {
            background-color: #000;
        }
    }
}

//section header---------------------
.section-header {
    margin: 0 auto;
    text-align: center;
    // .section-header__subtitle

    &__subtitle {
        font-family: "Great Vibes", serif;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 4.8px;
        text-transform: capitalize;
        color: #fff;
        .section-header--main & {
            font-size: 18px;
            @media (min-width: 962px) {
                font-size: 25px;
            }
        }
    }

    // .section-header__title

    &__title {
        font-family: "DM Serif Display", serif;
        font-size: 25px;
        line-height: 1.375;
        color: $secondaryTextColor;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .section-header--main & {
            font-family: "Cinzel", serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 1.33;
            &::first-letter {
                text-transform: uppercase;
            }
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
        &:not(.section-header--main &) {
            text-transform: capitalize;
        }
        @media (min-width: 962px) {
            .section-header--main & {
                font-size: 60px;
            }
            font-size: 40px;
        }
    }

    // .section-header__text

    &__text {
        margin: 0 auto;
        text-align: center;
    }
}
