@use "variables" as *;
@use "mixins" as *;
.footer {
    position: relative;
    height: 100svh;
    overflow-y: auto;
    perspective: 800px;
    perspective-origin: center;

    // .footer__background

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: radial-gradient(
                74.22% 60.15% at 50% 39.85%,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(30, 30, 30, 0.8) 56.25%,
                #1e1e1e 86.46%
            );
            backdrop-filter: blur(3.25px);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // .footer__background-image

    &__background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .footer__container

    &__container {
        min-height: 100%;
        padding-block-start: 100px;
        padding-block-end: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        @media (min-width: 992px) {
            padding-block-end: 100px;
        }
    }

    // .footer__top

    &__top {
        row-gap: 20px;
        flex-grow: 1;
        justify-content: center;
    }
    &__top,
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .footer__header

    &__header {
        font-family: "Cinzel", serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.34;
        color: $secondaryTextColor;
        text-align: center;
        max-width: 850px;
        text-wrap: balance;
        @include appearance-effect(0.5s);
        &::first-letter {
            text-transform: uppercase;
        }
        @media (min-width: 768px) {
            font-size: 55px;
        }
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        transition-delay: 0.4s;
        transition-duration: 0.5s;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        @media (min-width: 768px) {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            justify-content: center;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    // .footer__contacts-link

    &__contacts-link {
        display: flex;
        align-items: flex-start;
        max-width: 366px;
        column-gap: 10px;
        line-height: 1.3;
        @include appearance-effect;
        transition-delay: 0.5s;
    }

    // .footer__contacts-link-icon

    &__contacts-link-icon {
        flex-shrink: 0;
        width: 35px;
        height: 35px;
        fill: $accentColor;
    }

    // .footer__button

    &__button.button {
        font-family: "Cormorant SC", serif;
        text-transform: none;
        transform: translateY(40%);
        opacity: 0;
        transition-property: transform, opacity;
        transition-timing-function: ease-out;
        transition-delay: 0.9s;
        transition-duration: 0.4s;
        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
    &._animated .footer__button {
        transform: translateY(0);
        opacity: 1;
    }

    // .footer__bottom

    &__bottom {
        row-gap: 30px;
    }

    // .footer__logo

    &__logo .logo {
        width: 72px;
        height: 72px;
    }

    // .footer__social

    &__social {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px 25px;
    }

    // .footer__social-item

    &__social-item {
        font-family: "Cormorant SC", serif;
        font-weight: 600;
        line-height: 1.2;
        color: #ffffff;
        text-transform: capitalize;
        &::after {
            content: "";
            width: 79.78%;
            height: 2px;
            background-color: #f5be32;
            display: block;
            margin: 0 auto;
            transition: width 0.3s ease-out;
        }
        @media (any-hover: hover) {
            &:has(.footer__social-link:hover) {
                &::after {
                    width: 30%;
                }
            }
        }
    }
}
