@use "variables" as *;
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    // background-color: rgba(30, 30, 30, 0.2);

    // .header__container

    &__container {
        padding-block: 10px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        perspective: 400px;
        perspective-origin: right;
    }
}
.logo {
    width: 50px;
    height: 50px;
    @media (min-width: 768px) {
        width: 82px;
        height: 82px;
    }
}
.navigation {
    flex-grow: 1;
    font-family: "Cormorant SC", serif;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-end;
    transition:
        transform 0.4s cubic-bezier(0, 0.62, 1, 1),
        opacity 0.4s ease-in-out,
        background-color 0.4s ease-in-out,
        width 0.4s ease-out;

    // .navigation__list

    &__list {
        flex-basis: 750px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px 31px;

        @media (max-width: $tablet) {
            flex-direction: column;
            justify-content: stretch;
            flex-wrap: nowrap;
            font-size: 35px;
            row-gap: 30px;
            padding-inline: 40px;
            padding-block-end: 30px;
            width: max-content;
            margin-left: auto;
        }
    }

    // .navigation__link

    &__link {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $accentColor;
            }
        }
    }
    @media (max-width: $tablet) {
        display: block;
        position: fixed;
        top: 102px;
        left: 100%;
        width: 100%;
        height: calc(100svh - 102px);
        overflow-y: auto;
        transform: translate3d(0, 0, 0) rotate3d(0, -1, 0, -40deg);
        opacity: 0;
        backdrop-filter: blur(25px);
        background: radial-gradient(
            circle,
            rgba(60, 40, 26, 0.9),
            rgba(47, 32, 21, 0.9),
            rgba(35, 24, 16, 0.9),
            rgba(23, 16, 9, 0.8),
            rgba(5, 2, 0, 0.7)
        );
        &._open {
            transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 0, 0deg);
            opacity: 1;
        }
    }
}

.burger-button {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    padding: 5px;
    // border: 2px solid $accentColor;
    transition: justify-content 0.3s ease-in-out;
    &::after,
    &::before {
        content: "";
    }
    &::after,
    &::before,
    span {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: $accentColor;
        transition: transform 0.3s ease-in-out;
    }
    &._active {
        justify-content: center;

        & span {
            transform: scale(0);
        }
        &::before {
            transform: translateY(100%) rotate(45deg);
        }
        &::after {
            transform: translateY(-100%) rotate(-45deg);
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
}
