@use "variables" as *;
@use "common";
@use "mixins" as *;
.hero {
    height: 100svh;
    position: relative;
    overflow-y: auto;

    // .hero__background

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(
                74.22% 60.15% at 50% 39.85%,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(30, 30, 30, 0.8) 47.76%,
                #1e1e1e 100%
            );
        }
    }

    // .hero__background-image

    &__background-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1400 / 675;
        object-fit: cover;
    }

    // .hero__container

    &__container {
        min-height: 100%;
        padding-block: 102px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__section-header {
        max-width: 794px;
        & .section-header__text {
            max-width: 362px;
        }
        &:not(:last-child) {
            margin-bottom: 49px;
        }
        &._animated + .button {
            transform: translateY(0);
            opacity: 1;
        }
    }
    & .button {
        transform: translateY(40%);
        opacity: 0;
        transition:
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out,
            border-color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out,
            transform 0.6s ease-out 1s,
            opacity 0.6s ease-out 1s;
    }
}

.menu {
    // .menu__container

    &__container {
        padding-block: 50px;
        @media (min-width: 992px) {
            padding-block: 100px;
        }
    }

    // .menu__header

    &__header {
        max-width: 440px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @media (min-width: 768px) {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }

        &._animated + .menu__list > .meal-card {
            transform: translateY(0);
            opacity: 1;
            &:nth-child(1) {
                transition-delay: 0s, 0s, 0.8s, 0.8s;
            }
            &:nth-child(2) {
                transition-delay: 0s, 0s, 0.9s, 0.9s;
            }
            &:nth-child(3) {
                transition-delay: 0s, 0s, 1s, 1s;
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        flex-direction: column;
        @media (min-width: 720px) {
            flex-direction: row;
            & .meal-card {
                width: 33.33%;
                min-width: 200px;
            }
        }
    }
}

.meal-card {
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
    box-shadow: 0 4px 30px 0 rgba(245, 190, 50, 0.1);
    transform: translateY(10%);
    opacity: 0;
    transition-property: width, background-color, transform, opacity;
    transition-duration: 0.4s, 0.4s, 0.6s, 0.6s;
    transition-timing-function: ease-out;

    @media (any-hover: hover) {
        &:hover {
            background-color: #1e1e1e;
            width: 36.67%;
            & .meal-card__content {
                padding-inline: 35px;
            }
        }
    }
    // .meal-card__image-wrapper

    &__image-link {
        width: 100%;
        max-height: 293px;
        aspect-ratio: 380 / 293;
        overflow: hidden;
    }

    // .meal-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 380 / 293;
        transition: transform 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.01);
            }
        }
    }

    // .meal-card__content

    &__content {
        flex-grow: 1;
        padding-block: 20px;
        padding-inline: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        transition: padding-inline 0.3s ease-out;
        @media (min-width: 991.98px) {
            padding-block: 40px;
            padding-inline: 30px;
        }
    }

    // .meal-card__title

    &__title {
        font-family: "Cinzel", serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.36;
        color: $secondaryTextColor;
        @media (min-width: 992px) {
            font-size: 25px;
        }
    }
    &__title-link {
        transition: color 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                color: $accentColor;
            }
        }
    }

    // .meal-card__description

    &__description {
        flex-grow: 1;
    }

    // .meal-card__rate-list

    &__rate-list {
        display: flex;
        padding-block: 10px;
        @media (min-width: 992px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // .meal-card__rate-icon

    &__rate-icon {
        padding: 3px;
        fill: $accentColor;
        width: 25px;
        height: 25px;
        @media (min-width: 992px) {
            width: 40px;
            height: 40px;
        }
    }
    & .button {
        justify-self: flex-end;
        text-transform: capitalize;
        @media (max-width: 719.98px) {
            width: 100%;
            justify-content: center;
        }
    }
}

.luxury-background {
    width: 100%;
    min-height: 250px;
    aspect-ratio: 1440 / 363;

    &.luxury-background--01 {
        background:
            radial-gradient(49.7% 57.5% at 49.94% 50%, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.5) 100%),
            url("/src/images/luxurybg-01.jpg") center / cover no-repeat;
    }
    &.luxury-background--02 {
        background:
            radial-gradient(65.07% 57.5% at 49.94% 50%, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.5) 100%),
            url("/src/images/luxurybg-02.jpg") center 40% / cover no-repeat;
    }

    @media (min-width: 768px) {
        &.luxury-background--01,
        &.luxury-background--02 {
            background-attachment: fixed;
        }
    }
}

.specialities {
    // .specialities__container

    &__container {
        padding-block-start: 50px;
        @media (min-width: 992px) {
            padding-block-start: 100px;
        }
    }

    // .specialities__header

    &__header {
        max-width: 396px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        & + .specialities__form {
            transform: translateY(40%);
            opacity: 0;
            transition-duration: 0.6s;
            transition-property: transform, opacity;
            transition-timing-function: ease-out;
            transition-delay: 1s;
        }
        &._animated + .specialities__form {
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__form {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    // .specialities__list

    &__list {
        width: 100%;
        display: grid;
        grid-auto-rows: 1fr;
        & > *:nth-child(even) {
            flex-direction: row-reverse;
            & > .speciality-card__image-link::after {
                transform: rotate(180deg);
            }
        }
    }
}

.specialities-filter {
    grid-auto-flow: dense;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    // .specialities-filter__lable

    &__lable {
        @extend .button;
        flex-basis: auto;
        min-width: max-content;
        &:has(.specialities-filter__checkbox:checked) {
            @extend .button--yelow-bg;
        }
        @media (min-width: 992px) {
            flex-basis: 144px;
        }
    }

    // .specialities-filter__checkbox

    &__checkbox {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}
.speciality-card {
    position: relative;
    display: flex;
    gap: 20px;
    overflow: hidden;
    perspective: 800px;
    perspective-origin: center;
    @media (min-width: 992px) {
        gap: 50px;
    }

    &__image-link {
        aspect-ratio: 686 / 450;
        min-height: 100%;
        overflow: hidden;
        background-color: #2e2e2e;
        position: absolute;
        opacity: 0;
        transition: opacity 0.8s ease-out;
        ._animated & {
            transform: translateX(0);
            opacity: 1;
        }
        @media (max-width: 767.98px) {
            width: 100%;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(30, 30, 35, 0.7);
            }
        }

        @media (min-width: 768px) {
            position: relative;
            flex: 1 1 50%;
            min-width: 50%;
        }
        @media (any-hover: hover) {
            &:hover {
                & .speciality-card__image {
                    transform: scale(1.01);
                }
            }
        }
    }

    // .speciality-card__image

    &__image {
        min-width: 101%;
        min-height: 101%;
        object-fit: cover;
        object-position: right;
        position: absolute;
        top: 0;
        right: 0;
        transition: transform 0.3s ease-in-out;
    }

    // .speciality-card__content

    &__content {
        align-self: center;
        position: relative;
        padding-block: 30px;
        max-height: 100%;
        @include appearance-effect(0.6s);
        transform: translate3d(0, 50%, 0) rotate3d(1, 0, 0, -20deg);
        @media (min-width: 580px) {
            flex-basis: 60%;
        }
        @media (min-width: 768px) {
            flex-basis: 39%;
            max-width: 462px;
        }
        @media (max-width: 767.98px) {
            padding-inline: 30px;
        }
    }

    // .speciality-card__title

    &__title {
        @extend .meal-card__title;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__title-link {
        @extend .meal-card__title-link;
    }

    // .speciality-card__price

    &__price {
        font-family: "Cinzel", serif;
        font-weight: 700;
        color: $secondaryTextColor;
        font-size: 35px;
        line-height: 1.34;
    }

    // .speciality-card__description

    &__description {
        line-height: 1.3;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.dining {
    // .dining__container

    &__container {
        padding-block: 50px;
        @media (min-width: 992px) {
            padding-block: 100px;
        }
    }

    // .dining__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        & + .dining__actions {
            transform: translateY(40%);
            opacity: 0;
            transition-duration: 0.6s;
            transition-property: transform, opacity;
            transition-timing-function: ease-out;
            transition-delay: 1s;
        }
        &._animated + .dining__actions {
            transform: translateY(0);
            opacity: 1;
        }
    }

    // .dining__actions

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    // .dining__events

    &__events {
        & > *:nth-child(even) {
            flex-direction: row-reverse;
            .event__image-wrapper {
                left: 0;
            }
            .event__content::after {
                left: auto;
                right: -1px;

                transform: rotate(180deg);
                @media (min-width: 768px) {
                    right: 95%;
                }
            }
            .event__info {
                flex-direction: row-reverse;
                @media (max-width: 380px) {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
            .event__details {
                text-align: end;
            }
            .event__title {
                justify-content: flex-end;
            }
        }
    }
}

.event {
    min-height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    @media (min-width: 768px) {
        min-height: 500px;
    }
    // .event__image-wrapper

    &__image-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 893px;
        max-width: 100%;
        height: 100%;
        aspect-ratio: 893 / 500;
    }

    // .event__image

    &__image {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .event__content

    &__content {
        min-width: 30.83%; /* 370/1200 */
        position: relative;
        display: flex;
        align-items: center;
        padding-block: 30px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 150%; /* 400/1200 */
            height: 101%;
            background: linear-gradient(270deg, rgba(30, 30, 30, 0) -10.67%, #1e1e1e 90.22%);
        }
        @media (min-width: 768px) {
            max-width: 50%;
            background-color: #1e1e1e;
            &::after {
                left: 95%;
                background: linear-gradient(270deg, rgba(30, 30, 30, 0) 41.67%, #1e1e1e 95.22%);
            }
        }
    }
    // .event__info

    &__info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 14px;
        position: relative;
        z-index: 2;
        @include appearance-effect(0.6s);
        @media (max-width: 380px) {
            flex-direction: column;
        }
    }

    // .event__price
    &__price,
    &__title {
        @extend .meal-card__title;
    }
    &__price {
        font-size: 45px;
    }

    // .event__title

    &__title {
        min-height: 2.44em;
        display: flex;
        align-items: center;
        padding-block-start: 8px;
    }

    // .event__title-link

    &__title-link {
        @extend .meal-card__title-link;
    }

    // .event__description

    &__description {
        font-weight: 500;
        line-height: 1.3;
    }
}

.our-story {
    // .our-story__container

    &__container {
        padding-block: 50px;
        @media (min-width: 992px) {
            padding-block: 100px;
        }
    }

    // .our-story__header

    &__header {
        max-width: 460px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @media (min-width: 768px) {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
        & + .our-story__content-wrapper .our-story__content,
        & + .our-story__content-wrapper .our-story__image-content {
            opacity: 0;
            transition-duration: 0.6s;
            transition-property: transform, opacity;
            transition-timing-function: ease-out;
            transition-delay: 1s;
        }
        & + .our-story__content-wrapper .our-story__content {
            transform: translateX(10%);
        }
        & + .our-story__content-wrapper .our-story__image-content {
            transform: translateX(-10%);
        }
        &._animated + .our-story__content-wrapper .our-story__content,
        &._animated + .our-story__content-wrapper .our-story__image-content {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    // .our-story__content-wrapper

    &__content-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 20px;
        @media (min-width: 700px) {
            flex-wrap: nowrap;
        }
        @media (min-width: 992px) {
            gap: 50px;
        }
    }

    // .our-story__image-content

    &__image-content {
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 1fr);
        position: relative;
        z-index: 1;

        @media (min-width: 700px) {
            min-width: 40%;
        }
        @media (min-width: 992px) {
            min-width: 57.5%; /* 690/1200 */
            height: 51.08%; /* 613/1200 */
        }
    }

    // .our-story__image-wrapper

    &__image-wrapper {
        width: 100%;
        overflow: hidden;
        &:first-child {
            grid-row: 2 span;
        }
    }

    // .our-story__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 345 / 300;
        object-fit: cover;
    }

    // .our-story__content

    &__content {
        width: auto;
        align-self: center;
        @media (min-width: 992px) {
            min-width: 38.33%; /* 460/1200 */
        }
    }

    // .our-story__content-text

    &__content-text {
        & p:not(:last-child) {
            margin-bottom: 15px;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media (min-width: 700px) {
            & p:not(:last-child) {
                margin-bottom: 30px;
            }
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }

    // .our-story__link

    &__link {
        @media (max-width: 699.98px) {
            width: 100%;
            justify-content: center;
        }
    }
}
