@use "sass:math";
@use "fonts";
@use "reset";
@use "variables" as *;
@use "common";
@use "header";
@use "main";
@use "footer";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: $primaryTextColor;
    background-color: #1e1e1e;
    @media (min-width: 768px) {
        font-size: 20px;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: #{$maxWidthContainer}+ "px";
    padding-inline: #{$paddingContainer}+ "px";
    margin: 0 auto;
}
